<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Covid-19 Website Design Tutorial</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="./style-home.css">

</head>
<body>
    
<!-- header section starts  -->

<header>

    <a href="#" class="logo">logo</a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul>
            <li><a class="home" href="#home">home</a></li>
            <li><a href="#role">Role</a></li>
             <li><a href="#features">features</a></li>
            <li><a href="#team">our team</a></li>
           
        </ul>
    </nav>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">

        <span>welcome</span>
        
        <h3>share and learn</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores quibusdam ad sapiente quod harum recusandae esse voluptates repellat tempore.</p>
        

    </div>

    <div class="image">
        <img src="./home.png" alt="">
    </div>

</section>

<!-- home section ends -->
<!-- role section starts  -->

<section class="role" id="role">
<h1 class="heading">Which <span>role</span> defines you better?</h1>
        

    <div class="row">
        
        <div class="image">
            <img src="./neophyte.png" alt="">
        </div>

        <div class="content">
            <h1 class="heading"> <span>NEOPHYTE</span> </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat nulla, dolor excepturi repellendus officiis expedita saepe veniam minima adipisci tenetur?</p>
            <ul>
                <li>Lorem Ipsum, Dolor Sit Amet Consectetur</li>
                <li>Lorem Ipsum, Dolor Sit Amet </li>
                <li>Lorem Ipsum, Dolor Sit Amet Consect</li>
            </ul>
        </div>

    </div>

    <div class="row">

        <div class="content">
            <h1 class="heading"> <span>PROFESSIONAL</span> </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat nulla, dolor excepturi repellendus officiis expedita saepe veniam minima adipisci tenetur?</p>
            <ul>
                <li>Lorem Ipsum, Dolor Sit Amet Consectetur</li>
                <li>Lorem Ipsum, Dolor Sit Amet Consec</li>
                <li>Lorem Ipsum, Dolor Sit Amet </li>
            </ul>
        </div>

        <div class="image">
            <img src="./prof.png" alt="">
        </div>

    </div>

</section>

<!-- role section ends -->

<!-- features section starts  -->
<section class="features" id="features">

    <h1 class="heading">VIRTUAL-ATELIER <span>FEATURES</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="./ideas.jpg" alt="">
            <h3>IDEA DISCUSSION</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ab magni consequatur, quae in repellat. Placeat deserunt vitae alias dignissimos!</p>
            <a href="#" class="btn">Explore</a>
        </div>

        <div class="box">
            <img src="./projects.jpg" alt="">
            <h3>PROJECTS</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ab magni consequatur, quae in repellat. Placeat deserunt vitae alias dignissimos!</p>
            <a href="#" class="btn">Explore</a>
        </div>

        <div class="box">
            <img src="./stories.jpg" alt="">
            <h3>STORIES</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ab magni consequatur, quae in repellat. Placeat deserunt vitae alias dignissimos!</p>
            <a href="#" class="btn">Explore</a>
        </div>

    </div>

</section>

<!-- features section end -->

<!-- team section starts  -->

<section class="team" id="team">

    <div class="content">
        <h1 class="heading">OUR <span>TEAM</span></h1>
        <p></p>
        <ul>
            <div class="two">
                <li><b>Megha kumari</b></li>            
                <li><b>Priyanka vijay nikam<b></li>
                <li><b>Ritesh kumar<b></li>
                <li><b>Saurabh rawat<b></li>
                 <li><b>Saurabh singh bisht<b></li>

            </div>
     </div>

</section>

<!-- team section ends -->






<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h2>OUR PBL PROJECT :)</h2>
            
        </div>

   
            </div>
        </div>

    </div>

  
</section>

<!-- footer section ends -->

<!-- scroll top  -->

<a href="#home" class="scroll-top">
    <img src="./scroll-img.png" alt="">
</a>




<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="./script.js"></script>


</body>
</html>